.container {
  font-family: "Pretendard";
  display: flex;
  justify-content: center;
  background-color: black;
  font-weight: 300;
  font-size: 1rem;
}

.artboard {
  width: 50%;
  min-width: 300px;
  background-color: white;
  padding: 0.5rem;
}

.title {
  margin-bottom: 1rem;
}

section {
  margin: 0;
}

ul {
  padding-left: 1.2rem;
  margin: 0.5rem 0 1rem 0;
  margin-bottom: 1rem;
}

.clickableWord {
  cursor: pointer;
  text-decoration: none;
  color: blue;
}

li {
  line-height: 1.3;
}

sup {
  font-family: "Pretendard", sans-serif;
  font-size: 40%;
  position: relative;
  top: -0.5rem;
  color: goldenrod;
}

footer {
  text-wrap: wrap;
}
