.container {
  /* display: flex; */
  height: 100vh;
  background-color: rgb(40, 40, 40);
  /* flex-direction: row-reverse; */
  /* justify-content: end; */
  /* align-items: center; */
  overflow-x: hidden;
  overflow-y: hidden;
  perspective: 2000px;
}
