.container {
  color: white;
  display: flex;
  flex-direction: column;
  font-weight: 300;
}

.header {
  /* font-weight: 400; */
}

.toggle {
  text-decoration: underline dotted;
  cursor: pointer;
}

.workBrief {
  display: flex;
  border-bottom: 1px solid white;
  cursor: pointer;
}

.workTitle {
  flex: 3;
}

.workYear {
  flex: 1;
}

.workType {
  flex: 1;
}

::-webkit-scrollbar {
  background-color: black;
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  height: 50%;
}

::-webkit-scrollbar-button {
  display: none;
}
