.carouselWrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.embla {
  overflow: hidden;
}

.emblaContainer {
  display: flex;
}

.emblaSlide {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.emblaImage {
  height: 100%;
  width: auto;
  object-fit: contain;
}

/* Navigation Buttons */
.prevButton,
.nextButton {
  background-color: black;
  border: none;
  cursor: pointer;
}

.prevButton:hover,
.nextButton:hover {
}

@media (max-width: 768px) {
  .emblaSlide {
    height: auto;
  }

  .emblaImage {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}
