.container {
  display: flex;
  width: 100%;
  border-bottom: 1px dotted white;
}

.space {
  flex: 1;
}

.workDetail {
  flex: 2;

  padding-top: 2rem;
  padding-bottom: 2rem;
  overflow-x: hidden;
}

.workDescription {
  margin-bottom: 1rem;
  line-height: 1.7;
  word-break: keep-all;
}

.workLink {
  margin-bottom: 1rem;
}

.workImages {
  display: flex;
  gap: 0.5rem;
  padding-bottom: 4px;
  overflow-x: scroll;
}

.workImage {
  height: 300px;
}
