.workDetail {
  border-bottom: 1px solid white;
  padding-top: 8px;
  padding-bottom: 4px;
}

.workDescription {
  margin-bottom: 2px;
}

.workLink {
  margin-bottom: 4px;
}

.workImages {
  display: flex;
  gap: 0.5rem;
  overflow-x: scroll;
  padding-bottom: 4px;
}

.workImage {
  height: 300px;
}
